<!DOCTYPE HTML>
<html>
	<head>
		<title>Portfolio - Tomasz Urban</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
<!--	<body class="is-preload">-->

		<!-- Wrapper -->
			<div id="wrapper">

<!--				&lt;!&ndash; Header &ndash;&gt;-->
<!--					<header id="header">-->
<!--						<div class="">-->
<!--							<span class=""></span>-->
<!--						</div>-->
<!--						<div class="content">-->
<!--							<div class="inner">-->
<!--								<h1>TOMASZ URBAN</h1>-->
<!--								<p>The future is now!</p>-->
<!--							</div>-->
<!--						</div>-->
<!--						<nav>-->
<!--							<ul>-->
<!--								<li><a href="#about">About</a></li>-->
<!--								<li><a href="#skills">Skills</a></li>-->
<!--								<li><a href="#ML">ML</a></li>-->
<!--								<li><a href="#contact">Contact</a></li>-->
<!--								&lt;!&ndash;<li><a href="#elements">Elements</a></li>&ndash;&gt;-->
<!--							</ul>-->
<!--						</nav>-->
<!--					</header>-->

<!--				&lt;!&ndash; Main &ndash;&gt;-->
<!--					<div id="main">-->


                    <article id="negative">
					    <h2 class="major">HEART DISEASE NOT DIAGNOSED</h2>
<!--                        <span class="image main"><img src="static/images/abdullah-ansari-unsplash.jpg" alt="" /></span>-->
					    <p>According to the provided data You don't have a heart disease. "</p>
					    <h6>"[NOTE: Remember that this app is only for educational purposes. "
						"This result doesn't provide any medical indication or contraindication for treatment!"</h6>
			    	</article>




<!--					</div>-->

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">Design: <a href="https://html5up.net">HTML5 UP</a></p>
						<p class="copyright">Photo by Weiye Tan on <a href="https://unsplash.com/">Unsplash</a> </p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>
